<section id="project" class="flex flex-col items-center justify-center text-center text-white min-h-screen p-20">
    <div class="projectsbox">
      <div class="title">
        <h1>N'hésitez pas à venir découvrir tous mes projets sur Github</h1>
        <p class="mb-5">jeu du pendu (the hangman), shifumi, site de petites annonces est bien d'autres ;)</p>
      </div>
      <div class="project-img-earth">
        <iframe id="inlineframe1" title="Earth" width="685" height="385" src="../../assets/projects/Earth.jpg" frameborder="0" class="ml-74"></iframe>
      </div>
      <div class="project-description">
        <h4 class="earth">Earth</h4>
        <p class="mb-5">Projet/Entrainement de Three.JS et de conversation avec ChatGPT.</p>
      </div>
    </div>
    <div class="projectsbox">
      <div class="project-img">
        <iframe id="inlineframe" title="Calculatrice" width="685" height="385" src="../../assets/projects/Calculatrice.png" frameborder="0"></iframe>
      </div>
      <div class="project-description">
        <h4>Calculatrice</h4>
        <p class="mb-5">Projet/Entrainement de calculatrice en HTML, JS et CSS.</p>
      </div>
    </div>
    <div class="projectsbox">
      <div class="project-img">
        <img src="../../assets/projects/Coming-soon.jpg" alt="">
      </div>
      <div class="project-description">
        <h4 class="coming">Coming Soon</h4>
        <p class="mb-5">>Projet/Entrainement de création d'une page "bientôt".</p>
      </div>
    </div>
    <div class="projectsbox">
      <div class="project-img">
        <img src="../../assets/projects/E-commerce.png" alt="">
      </div>
      <div class="project-description">
        <h4 class="market">E-commerce</h4>
        <p class="mb-5">Projet/Entrainement de création d'un site de E-commerce.</p>
      </div>
    </div>
    <div class="projectsbox">
      <div class="project-img">
        <img src="../../assets/projects/Four-cards.png" alt="">
      </div>
      <div class="project-description">
        <h4 class="fourcard">Four Cards</h4>
        <p class="mb-5">Projet/Entrainement d'allignement.</p>
      </div>
    </div>
    <div class="projectsbox">
      <div class="project-img">
        <img src="../../assets/projects/nft.jpg" alt="">
      </div>
      <div class="project-description">
        <h4 class="nft">NFT</h4>
        <p class="mb-5">Projet/Entrainement de création d'un NFT.</p>
      </div>
    </div>
    <div class="projectsbox">
      <div class="project-img">
        <img src="../../assets/projects/product.jpg" alt="">
      </div>
      <div class="project-description">
        <h4 class="product">Fiche produit</h4>
        <p class="mb-5">Projet/Entrainement de création d'une page produit.</p>
      </div>
    </div>
    <div class="projectsbox">
      <div class="project-img">
        <img src="../../assets/projects/qr-code.png" alt="">
      </div>
      <div class="project-description">
        <h4 class="qr">QR code</h4>
        <p class="mb-5">Projet/Entrainement de création d'un QR code.</p>
      </div>
    </div>
  </section>
