<section id="contact" class="flex justify-center items-center flex-col text-center text-red-500 bg-cover bg-center" style="background-image: url(../../assets/mapConnect.jpg); height: 800px;">
  <div class="bg-gray-800 bg-opacity-75 rounded-lg p-8">
      <h1 class="text-white mb-4">Grégory Houzé</h1>
      <h2 class="text-white mb-4">Rue galterie Saint-Jean 1/01</h2>
      <h4 class="text-white mb-4">7500 Tournai (Belgique)</h4>
      <p class="text-white mb-4"><span>Tel: </span> 0471115505</p>
      <p class="text-white mb-4"><span>Email: </span> <a href="mailto:hg_greg@msn.com" class="text-white">hg_greg&#64;msn.com</a></p>  
      <p class="text-white mb-4"><span>Github: </span> <a target="_blank" href="https://github.com/Dmokrite" class="text-white">https://github.com/Dmokrite</a></p>
      <p class="text-white mb-4"><span>Github: </span> <a target="_blank" href="https://github.com/Dmokrite1" class="text-white">https://github.com/Dmokrite1</a></p>
      <h3 class="text-white">Contactez moi pour plus d'infos</h3>
  </div>
</section>
