<div>
  <h1 class="text-center text-white bg-cover bg-center py-8 text-4xl font-bold">Bienvenue sur mon portfolio</h1>
</div>
<section id="presentation" class="text-center text-white bg-cover bg-center p-20 bg-custom-background">
  <h2 class="text-3xl text-white-500 mt-20 mb-20">Si vous recherchez la réponse à la grande <br> question sur la vie, l'univers et tout le reste</h2>
  <p class="text-xl mt-20 mb-20">La réponse est : <span class="text-red-500">42</span></p>
  <h3 class="text-xl mt-20 mb-20">Il ne reste qu'à définir quelle est la question</h3>
</section>
